<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="{{url_for('static', filename = 'css/bootstrap.css')}}" rel="stylesheet" />
    <link href="{{url_for('static', filename = 'css/tempusdominus-bootstrap-4.min.css')}}" rel="stylesheet" />
        <script src={{url_for('static', filename = 'js/moment.min.js')}}></script>
        <script src={{url_for('static', filename = 'js/Chart.js')}}></script>
        <script src="{{url_for('static', filename = 'js/jquery-3.3.1.js')}}"></script>
        <script src="{{url_for('static', filename = 'js/popper.js')}}"></script>
        <script src="{{url_for('static', filename = 'js/bootstrap.js')}}"></script>
    <script src="{{url_for('static', filename = 'js/tempusdominus-bootstrap-4.min.js')}}"></script>
</head>
<body>
<form action="#" method="post">
    {{ form.dt1(class='datepicker') }}
    {{ form.dt2(class='datepicker') }}
    {{ form.dt3(class='datepicker') }}
    {{ form.dt4(class='datepicker') }}
    {{ form.hidden_tag() }}
    <input type="submit"/>
</form>

<div class="chart-container" style="position: relative; height:80vh; width:auto">
                        <canvas id="test">
                            <script>
                                Chart.scaleService.updateScaleDefaults('linear', {
                                    ticks: {
                                        min: 0
                                    }
                                });
                                new Chart(document.getElementById('test'), {
                                    type: 'scatter',
                                    data: {
                                        datasets: [
                                                {
                                                    data:
                                                        [
                                                            {% for i in data %}
                                                            {t: moment.unix({{i[0]}}), y: {{i[1]}} },
                                                            {% endfor %}
                                                        ],
                                                        label: "TEST",
                                                        fill: true,
                                                        showLine: true,
                                                        borderColor: 'black',
                                                        borderWidth: 1,
                                                        radius: 1,
                                                        pointBackgroundColor: 'black'

                                                },
                                        ]
                                    },
                                    options: {
                                        maintainAspectRatio: false,
                                        title: {
                                            display: true,
                                            text: 'Test'
                                        },
                                        scales: {
                                            xAxes: [{
                                                type: "time",
                                                time:{
                                                    unit: 'second',
                                                    unitStepSize: 10,
                                                    displayFormats: {
                                                        second: 'MM-DD HH:mm:ss'
                                                    },
                                                    stepSize: {{((data[-1][0] - data[0][0]) / 30) | int}}
                                                }
                                            }]
                                        }
                                    }
                                });
                            </script>
                        </canvas>
                    </div>
</body>
</html>