<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% for i in scripts %}
<a href="{{url_for('run_script', name=i)}}">{{i}}</a><br>
{% endfor %}
</body>
</html>