<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="{{url_for('static', filename = 'css/bootstrap.css')}}" rel="stylesheet" />
    <link href="{{url_for('static', filename = 'css/tempusdominus-bootstrap-4.min.css')}}" rel="stylesheet" />
        <script src={{url_for('static', filename = 'js/moment.min.js')}}></script>
        <script src={{url_for('static', filename = 'js/Chart.js')}}></script>
        <script src="{{url_for('static', filename = 'js/jquery-3.3.1.js')}}"></script>
        <script src="{{url_for('static', filename = 'js/popper.js')}}"></script>
        <script src="{{url_for('static', filename = 'js/bootstrap.js')}}"></script>
    <script src="{{url_for('static', filename = 'js/dataTables.bootstrap4.min.js')}}"></script>
    <script src="{{url_for('static', filename = 'js/jquery.dataTables.min.js')}}"></script>
    <script src="{{url_for('static', filename = 'js/tempusdominus-bootstrap-4.min.js')}}"></script>
</head>
<body>
    <script>
$(document).ready(function() {
    $('#example').DataTable();
} );
</script>
<form action="#" method="post">
    {{ form.dt1(class='datepicker') }}
    {{ form.dt2(class='datepicker') }}
    {{ form.dt3(class='datepicker') }}
    {{ form.dt4(class='datepicker') }}
    {{ form.hidden_tag() }}
    <input type="submit"/>
</form>
<table id="example" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            {% for i in data['tittles'] %}
                <th>{{i}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>

            {% for i in data['data'] %}
            <tr>
                {% for j in i %}
                    <th>{{j}}</th>
                {% endfor %}
                </tr>
            {% endfor %}

    </tbody>
</table>

</body>
</html>